<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

    <!-- applicationContext.xml -->
    <!--<bean id="strutsActionProxyFactory" class="org.apache.struts2.spring.StrutsSpringObjectFactory"/>
    <bean id="actionProxyFactory" factory-bean="strutsActionProxyFactory" factory-method="createDefaultFactory"/>-->

</beans>
